.idea-generation-worksheet .blank {
  
}

.cross-out {
  top: 5.5%;
  left: 8%;
  width: 16%;
  font-size: 20pt !important;
}

.segment-member {
  top: 25.5%;
  left: 9%;
  width: 26%;
  text-align: left !important;
}

.segment-former-member {
  top: 25.5%;
  left: 37%;
  width: 26%;
  text-align: left !important;
}

.segment-passion {
  top: 25.5%;
  left: 65.5%;
  width: 26%;
  text-align: left !important;
}

.victory-number {
  bottom: 35%;
  left: 23%;
  width: 14%;
}

.victory-things {
  bottom: 35%;
  left: 38%;
  width: 28%;
}

.segment-1 {
  bottom: 24.5%;
  left: 14%;
  width: 26%;
}

.segment-2 {
  bottom: 17%;
  left: 14%;
  width: 26%;
}

.segment-3 {
  bottom: 9.5%;
  left: 14%;
  width: 26%;
}

.problem-1 {
  bottom: 24.5%;
  left: 56%;
  width: 25%;
}

.problem-2 {
  bottom: 17%;
  left: 56%;
  width: 25%;
}

.problem-3 {
  bottom: 9.5%;
  left: 56%;
  width: 25%;
}

